<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/stu.css" />
  </head>
  <body>
    <!-- Navbar Start -->

    <%- include('../partials/stunavbar.ejs')%>

    <!-- Navbar End -->
   <div class="container">
      <h2 id="prof" class="py-3 text-center">Application for '<%- job.Title %>'</h2>
      <form action="/stu/<%=stud.RollNo%>/apply/<%- job.Job_id %>" method="POST" enctype="multipart/form-data"  class="row g-3 validated-form" novalidate>
        <input type="hidden" name="folder" value="Resumes">
        <input type="hidden" name="Job_id" value="<%- job.Job_id %>">
        <input type="hidden" name="id" value="<%- stud.RollNo %>">

        <div class="col-md-4">
          <label for="inputRollNo" class="form-label">Roll Number</label>
          <input
            type="number"
            class="form-control"
            id="inputRollNo"
            min="100000"
            max="899999"
            value="<%- stud.RollNo %>"
            disabled
            required
          />
        </div>
        <div class="col-md-4">
          <label for="inputFirstName" class="form-label">FirstName</label>
          <input
          name="FirstName"
            type="text"
            class="form-control"
            id="inputFirstName"
            value="<%- stud.FirstName %>"
            required
            readonly
          />
          <!-- <div class="valid-feedback">Looks good!</div> -->
          <div class="invalid-feedback">This field is required</div>
        </div>
        <div class="col-md-4">
          <label for="inputLastName" class="form-label">LastName</label>
          <input
          name="LastName"
            type="text"
            class="form-control"
            id="inputLastName"
            value="<%- stud.LastName %>"
            required
            readonly
          />
        </div>
        <div class="col-md-4">
          <label for="inputCourse" class="form-label">Course</label>
          <select
            name="Course"
            id="inputCourse"
            class="form-select"
            style="pointer-events: none"
            required
          >
            <option <%= stud.Course == 'BTech' ? 'selected' : ''  %> value="BTech">BTech</option>
            <option <%= stud.Course == 'MTech' ? 'selected' : ''  %> value="MTech">MTech</option>
          </select>
          <div class="invalid-feedback">This field is required</div>
        </div>
        <div class="col-md-4">
          <label for="inputDept" class="form-label">Department</label>
          <select
          name="Department"
            id="inputDept"
            class="form-select"
            style="pointer-events: none"
            required
          >
          <% const options = [ "Bio Technology", "Civil Engineering", "Chemical Engineering", "Computer Science & Engineering", "Electronics & Communication Engineering", "Electrical Engineering" ,"Mechanical Engineering","Metallurgical and Materials Engineering"];
             const values = ['BioTech','Civil','Chemical','CSE','ECE','EEE','Mech','MME'];
            for ( let i = 0; i < options.length; i++ )
            {
                let selec = ( stud.Department == values[i] ) ? 'selected' : '';
            %>
                <option value="<%=values[i] %>" <%=selec %>><%=options[i] %></option>
            <%}%>
           
          </select>

          <div class="invalid-feedback">This field is required</div>
        </div>
        <div class="col-md-4">
          <label for="inputYear" class="form-label">Year of Passing</label>
          <select
          name="YearofPassing"
            id="inputYear"
            class="form-select"
            style="pointer-events: none"
            required
          >
            <option <%= stud.YearofPassing == '2023' ? 'selected' : ''  %> value="2023">2023</option>
            <option <%= stud.YearofPassing == '2024' ? 'selected' : ''  %> value="2024">2024</option>
            <option <%= stud.YearofPassing == '2025' ? 'selected' : ''  %>  value="2025">2025</option>
            <option <%= stud.YearofPassing == '2026' ? 'selected' : ''  %> value="2026">2026</option>
          </select>
          <div class="invalid-feedback">This field is required</div>
        </div>
        <div class="col-md-4">
          <label for="inputPEmail" class="form-label">Personal Email</label>
          <input
            <%= stud.PersonalEmail == null ? '' : 'value='%><%-stud.PersonalEmail%>
            name="PersonalEmail"
            type="email"
            class="form-control"
            id="inputPEmail"
            placeholder="Personal Mail"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            readonly
          />
          <div class="invalid-feedback">Invalid Email</div>
        </div>
        <div class="col-md-4">
          <label for="inputNumber" class="form-label">Contact Number</label>
          <input
            <%= stud.Contact == null ? '' : 'value='%><%-stud.Contact%>
            name="Contact"
            type="number"
            class="form-control"
            id="inputNumber"
            placeholder="Mobile Number"
            min="1000000000"
            max="9999999999"
            readonly
          />
          <div class="invalid-feedback">Invalid Contact Number</div>
        </div>
        <div class="col-md-4">
          <label for="inputCGPA" class="form-label">CGPA<sup class="mand">*</sup></label>
          <input
            <%= stud.CGPA == null ? '' : 'value='%><%-stud.CGPA%>
            name="AppCGPA"
            type="number"
            class="form-control"
            id="inputCGPA"
            min="0"
            max="10"
            step=".01"
            required
            <%= stud.CGPA == null ? '' : 'readonly'%>
          />
          <div class="invalid-feedback">Invalid CGPA</div>
        </div>
        <div class="col-md-4">
          <label for="inputEmail" class="form-label">Email</label>
          <input
          value="<%- stud.Email %>"
            type="email"
            class="form-control"
            id="inputEmail"
            pattern="[1-8][1|2][9|0|1|2][1-2][0-9][0-9]+@student.nitandhra.ac.in"
            required
            disabled
          />
        </div>
        <div class="col-md-4">
          <label for="inputCurrPassword" class="form-label"
                >Resume<sup class="mand">*</sup></label>
            <input
                name="Resume"
                type="file"
                class="form-control d-inline"
                id="inputResume"
                accept=".pdf"
                required
            />
  <div class="invalid-feedback">Invalid file</div>
        </div>
        <div class="col-12">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="gridCheck"
                required
              />
              <label class="form-check-label" for="gridCheck">
                I agree to all
                <a href="#" class="text-decoration-none">Terms & Conditions</a>
              </label>
              <div class="invalid-feedback">
                You must agree before submitting.
              </div>
            </div>
          </div>

        <div class="mt-7 ">
          <button type="submit" class="btn btn-primary px-4 btn-large">Submit</button>
        </div>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script>
      (function () {
        "use strict";
        const forms = document.querySelectorAll(".validated-form");
        Array.from(forms).forEach(function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>
  </body>
</html>

<div class="mb-3">
  
</div>
