<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Applications</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/jposted.css" />
  </head>
  <body>
    <!-- Navbar Start -->

    <%- include('../partials/recnavbar.ejs')%>

    <!-- Navbar End -->
    <div class="container">
      <div>
        <h3 class="heading">Applications Recieved For '<%- jo %>'</h3>
      </div>
      <% if(appl.length <= 0 ){ %>
        <h4 class="text-center mt-4 mb-4">No Applications found</h4>
      <% }else{ %>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">App.No.</th>
              <th scope="col">Name</th>
              <th scope="col">Course</th>
              <th scope="col">Department</th>
              <th scope="col">Year of Passing</th>
              <th scope="col">CGPA</th>
              <th scope="col">Resume</th>
              <th scope="col">Match</th>
              <th scope="col">Status</th>
              <!-- <th scope="col">Match</th> -->
            </tr>
          </thead>
          <tbody>
            <% for(let i=0;i<appl.length;i++){ %>
            <tr>
              <th scope="row"><%- appl[i].App_id %></th>
              <td><%- appl[i].FirstName %> <%- appl[i].LastName %></td>
              <td><%- appl[i].Course %></td>
              <td><%- appl[i].Department %></td>
              <td><%- appl[i].YearofPassing %></td>
              <td><%- appl[i].AppCGPA %></td>
              <td><a href="/uploads/Resumes/<%- appl[i].Resume %>" download="<%- appl[i].App_id %>">Download</a></td>
              <td><%- appl[i].Score.slice(0,5) %>%</td>
              <td><%- appl[i].Status %></td>

            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <% } %>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
